*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-bar{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    transition: all 0.3s ease;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
    transition: all 0.5s ease;
    
}
.menu-bar ul li:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.menu-bar.show{
    opacity: 1;
    background-color: rgb(137, 88, 49);
}
.menu-bar ul a{
    color: #fff;
    text-decoration: none;
}
.container .card {
    transition: all 0.3s ease;
    transform: scale(1);
}

.container .card:hover {
    transform: scale(0.99);
}

.container .card.shadow:hover {
    box-shadow: none !important;
    cursor: pointer;
}
.background{
    background: black;
}
container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }